.socials {
  display: flex;
  align-items: center;

  li {
    margin-right: 16px;
    transition: $transition;

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .socials {
    li img {
      width: 30px;
      height: 30px;
    }
  }
}