<ul class="socials">
  <li><a href="https://t.me/JoinQOMshibapredator" target="_blank"><img src="img/telegram-icon.svg" width="40"
        height="40" alt="telegram icon"></a></li>
  <li><a href="https://twitter.com/ShibaPredator1" target="_blank"><img src="img/twitter-icon.svg" width="40"
        height="40" alt="twitter icon" target="_blank"></a></li>
  <!-- <li><a href="#" target="_blank"><img src="img/m-icon.svg" width="40" height="40" alt="m icon"></a></li>
  <li><a href="#" target="_blank"><img src="img/gecko-icon.png" width="40" height="40" alt="gecko icon"></a></li>
  <li><a href="#" target="_blank"><img src="img/socials-5-icon.svg" width="40" height="40" alt="socials icon"></a></li> -->
  <li><a href="https://instagram.com/qomshibapredator?igshid=YmMyMTA2M2Y=" target="_blank"><img src="img/insta-icon.svg"
        width="40" height="40" alt="instagram icon"></a>
  </li>
</ul>