<section class="vision" id="vision" data-section>
	<div class="container">
		<div class="vision__inner">
			<h2 class="vision__title title">Vision</h2>
			<h3 class="vision__subtitle subtitle">It’s all about the chase...</h3>
			<div class="vision__content">
				<h5 class="small-title">You are the Team</h5>
				<p>Yes, we are all QOM and we are all the team. For this to work, “a thousand flowers must blossom” and we all
					must do our part</p>
				<h5 class="small-title">Just like Shiba, there are no team tokens</h5>
				<p>If you want to do something then do it, if someone asks for a hand out you can tell them that Shiba never
					paid for a thing</p>
				<h5 class="small-title">Trust The Process</h5>
				<p>Flipping Shiba will take Diamond Hands. Don’t be short-sighted with QOM, there is a long road ahead of us.
					HODL</p>
				<h5 class="small-title">Ask not what QOM can do for you, ask what you can do for QOM</h5>
				<p>QOM started this with a contract deploy and a group, but it is really up to you (QOM also) to see what you
					can add. Work for you meal, add what you can and tell your frens. This is an army. It is new and small, but
					that also means we have advantage</p>
			</div>
		</div>
	</div>
</section>