*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: $white-color;
  background-color: $black-color;
}

img,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  body {
    font-size: 17px;
  }
}